.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	&__logo {
		font-size: 1.6rem;
		flex-basis: 10%;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		flex-basis: 60%;
		opacity: 0;
		position: absolute;
		flex-direction: column;
		top: 42px;
		right: -10%;
		z-index: 100;
		width: 100%;
		text-align: center;
		background-color: #fff;
		&__link {
			text-decoration: none;
			color: black;
			opacity: 0.7;
			padding: 1rem 0;
			width: 100%;
			transition: all 0.2s ease;
			&:last-child {
				color: hsl(19, 82%, 73%);
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.02);
				opacity: 1;
			}
			@media screen and (min-width: 1024px) {
				width: auto;
				padding: inherit;
				&:last-child:hover {
					color: hsl(19, 82%, 50%);
				}
				&:hover {
					background-color: transparent;
					opacity: 1;
					color: black;
				}
			}
		}
		@media screen and (min-width: 1024px) {
			display: flex;
			flex-direction: row;
			opacity: 1;
			background-color: transparent;
			position: relative;
			top: 0;
			right: 0;
			flex-basis: 60%;
		}
	}
	&__icons {
		display: flex;
		justify-content: space-between;
	}
	&__logo,
	&__basket,
	&__hamburger {
		cursor: pointer;
	}
	&__basket {
		font-size: 1.3rem;
		color: black;
		opacity: 0.7;
		transition: all 0.2s ease;
		&:hover {
			opacity: 1;
		}
	}
	&__hamburger {
		font-size: 1.5rem;
		margin-left: 1.2rem;
		align-self: end;
		@media screen and (min-width: 1024px) {
			display: none;
		}
	}
}
// animation for menu

.menu {
	animation: menu 0.5s ease-in-out;
	opacity: 1;
}

.link {
	animation: link 0.9s ease-in-out;
}

@keyframes menu {
	0% {
		transform: translateX(120%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
		z-index: 100;
	}
}

@keyframes link {
	0% {
		opacity: 0.2;
	}
	20% {
		opacity: 0.4;
	}
	40% {
		opacity: 0.6;
	}
	60% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}
