.footer {
	background-color: hsl(203, 30%, 26%);
	color: hsl(0, 0%, 9%);
	&__links {
		display: flex;
		flex-direction: column;
	}
	&__link {
		color: hsl(19, 82%, 50%);
		text-decoration: none;
		transition: all 0.2s ease;
		padding-left: 1rem;
		&:hover {
			color: hsl(19, 82%, 70%);
		}
	}
	&__title {
		margin-left: 1rem;
		color: #fff;
	}
	&__icon {
		display: flex;
	}
	&__icon-link {
		color: #fff;
		transition: all 0.2s ease;
		font-size: 1.3rem;
		&:hover {
			color: hsl(19, 82%, 70%);
		}
	}
}
